<template>
    <md-list-item>
        <div class="title">{{name}}</div>
        <div class="experience">
            <div class="progress" :change="setColor" :class="progressColor" :style="{ width: progress + '%' }"></div>
        </div>
        <md-icon class="delete">close</md-icon>
    </md-list-item>
</template>

<script>
    export default {
        props: ['name', 'progress'],
        name: 'skill-progress',
        data: function(){
            return {
                progressColor : 'none',
            }
        },

        computed: {
            setColor() {
                if (this.progress > 70) {
                    this.progressColor = 'high';
                }
                else if (this.progress > 30 && this.progress <= 70) {
                    this.progressColor = 'medium';
                }
                else if (this.progress <= 30) {
                    this.progressColor = 'low'
                }
            },
            orderedSkills: function(){
                return _.orderBy(this.skills)
            }
        },

        methods: {
            delete(){
                console.log('deleting a skill');
            }
        }
    }
</script>
