<template>
    <router-link class="project" :to="{ path: '/projects/' + project.id }" >
        <div class="col col1">
            <div class="image"><img :src="'/img/' + project.img"/></div>
        </div>
        <div class="col col2">
            <div class="title">{{project.name}}</div>
            <div class="role">{{project.role}}</div>
        </div>
        <div class="col col3">
            <div class="description">{{project.description}}</div>
        </div>
    </router-link>
</template>

<script>
    export default {
        props: ['project'],
        name: 'project-block'
    }
</script>
