<template>
    <div class="page home">
        <div class="page-content">
            <md-list class="custom-list">
                <md-list-item v-for="employee in employees" :key="employee.id">
                    <router-link :to="{ path: 'employees/' + employee.profile_name } ">{{employee.user.name}}</router-link>
                </md-list-item>
            </md-list>
        </div>
    </div>
</template>

<script>
    export default {
        data(){
            return {
                employees:[],
            }
        },

        mounted() {
            axios.get('/api/profiles')
                .then(response => this.employees = response.data);
        }
    }
</script>
