<template>
    <div class="page home">
        <div class="page-content">

            <div class="row">

                <div class="block image">
                    <div class="name">
                        {{profile.user.name}}
                    </div>
                    <div class="title">
                        {{profile.title}}
                    </div>
                    <div class="block-inner">
                        <img v-bind:src="'/img/' + profile.image"/>
                    </div>
                    <div class="image-subtext">
                        Joined Scala on {{profile.joined_on}}
                    </div>
                </div>

                <div class="block stats bordered">
                    <div class="edit" v-show="profile.profile_name == this.$root.$data.$store.profile_page">
                        <md-button class="md-raised md-accent">Edit</md-button>
                    </div>
                    <div class="block-inner">
                        <div class="item">
                            <div class="label"><i class="material-icons">&#xE0C8;</i>Location</div>
                            <div class="data">{{profile.location}}</div>
                        </div>
                        <a class="item" href="mailto:kevin.pas@scala.com">
                            <div class="label"><i class="material-icons">&#xE0BE;</i>Email</div>
                            <div class="data">{{profile.user.email}}</div>
                        </a>
                        <div class="item">
                            <div class="label"><i class="material-icons">&#xE0CD;</i>Phone</div>
                            <div class="data">{{profile.phone}}</div>
                        </div>
                        <div class="item">
                            <div class="label"><i class="material-icons">&#xE0AF;</i>Company</div>
                            <div class="data">{{profile.company}}</div>
                        </div>
                        <div class="item">
                            <div class="label"><i class="material-icons">&#xE8D3;</i>Manager</div>
                            <div class="data">{{profile.manager}}</div>
                        </div>
                        <div class="item">
                            <div class="label"><i class="material-icons">&#xE0BE;</i>Manager Email</div>
                            <div class="data">{{profile.manager_email}}</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="block skills bordered" :class=" {editmode : editSkill} ">
                    <div class="block-inner">
                        <div class="header">
                            <div class="header-left" style="flex:1">
                                Skills
                            </div>
                            <md-button @click="toggleEdit" class="md-icon-button">
                                <md-icon>edit</md-icon>
                            </md-button>
                        </div>

                        <md-list>
                            <skill-progress v-for="skill in profile.skills" :key="skill.id" :name="skill.name"
                                            :progress="skill.pivot.progress"></skill-progress>
                        </md-list>

                    </div>

                    <form @submit.prevent="newSkillSubmit">
                        <md-toolbar class="actions">
                            <div class="md-toolbar-container">
                                <md-input-container>
                                    <label>Add a new skill ... </label>
                                    <md-select name="movie" id="movie" v-model="form.skill_id">
                                        <md-option v-for="skill in skills" :key="skill.id" :value="skill.id">
                                            {{skill.name}}
                                        </md-option>
                                    </md-select>
                                </md-input-container>
                                <md-input-container>
                                    <label>Progress %</label>
                                    <md-input v-model="form.progress" type="number"></md-input>
                                </md-input-container>
                                <md-button type="submit" class="md-raised md-accent">Submit</md-button>
                            </div>
                        </md-toolbar>
                    </form>

                </div>

                <div class="block projects bordered">
                    <div class="block-inner">
                        <div class="header">
                            Projects
                        </div>
                        <div class="items">
                            <project-block v-for="project in profile.projects" :key="project.id"
                                           :project="project"></project-block>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>
</template>

<script>
    export default {

        data() {
            return {
                profile: {},
                form: new Form({
                    skill_id: '',
                    progress: 0
                }),
                skills: [],
                editSkill : false,
            }
        },

        created() {
            this.getProfile();
            this.getSkills();
        },

        methods: {
            newSkillSubmit() {
                this.form.post('/api/profile/syncskill')
                    .then(response => this.getProfile());
            },
            getSkills() {
                axios.get('/api/skills')
                    .then(response => this.skills = response.data);
            },
            getProfile() {
                axios.get('/api/profiles/' + this.$route.params.id)
                    .then(response => this.profile = response.data);
            },
            toggleEdit(){
                this.editSkill ? this.editSkill = false : this.editSkill = true;
            }
        }
    }
</script>
