<template>
    <div class="page home">
        <md-toolbar>
            <h1 class="md-title">Home Page</h1>
        </md-toolbar>
        <div class="page-content">

        </div>
    </div>
</template>

<script>
    export default {
        mounted() {


        }
    }
</script>
