<template>
    <div class="page home">
        <md-toolbar>
            <h1 class="md-title">{{project.name}}</h1>
        </md-toolbar>
        <md-toolbar class="md-accent">
            <h1 class="md-title">sub text</h1>
        </md-toolbar>

        <div class="page-content">
            <div class="row">
                <div class="block description bordered">
                    <div class="block-inner">
                        <div class="header">
                            Description
                        </div>
                        <div class="info">
                            description
                        </div>
                    </div>
                </div>

                <div class="block team bordered">
                    <div class="block-inner">
                        <div class="header">
                            Members
                        </div>
                        <md-list>
                            <md-list-item v-for="member in project.members" :key="member.username">
                                <router-link :to="{path: '/employees/' + member.username } ">
                                    {{member.name}}
                                </router-link>

                            </md-list-item>
                        </md-list>

                    </div>
                </div>
            </div>

            <div class="row">

                <div class="block full skills bordered">
                    <div class="block-inner">
                        <div class="header">
                            Skills
                        </div>
                        <md-list>
                            <md-list-item class="skill">
                                skill
                            </md-list-item>
                        </md-list>
                    </div>
                </div>

            </div>

        </div>

    </div>
</template>

<script>
    export default {

        data() {
            return {
                project: [],
            }
        },

        mounted() {
            axios.get('/api/projects/' + this.$route.params.id)
                .then(response => this.project = response.data);
        }
    }
</script>
