<template>
    <div class="page home">
        <md-toolbar>
            <h1 class="md-title" style="flex:1"></h1>
            <router-link class="md-raised md-accent" tag="md-button" to="projects/new">New Project</router-link>
        </md-toolbar>

        <div class="page-content">

            <md-list class="custom-list">
                <md-list-item v-for="project in projects" :key="project.id" >
                    <router-link :to="{ path: 'projects/' + project.id } ">{{project.name}}</router-link>
                </md-list-item>
            </md-list>
        </div>

    </div>
</template>

<script>
    export default {

        data(){
            return {
                projects:[],
            }
        },

        mounted() {
            axios.get('/api/projects')
                .then(response => this.projects = response.data);
        }
    }
</script>
