<template>
    <div class="page home">
        <md-toolbar>
            <h1 class="md-title">Create a new Project </h1>
        </md-toolbar>

        <div class="page-content">
            <form @submit.prevent="onSubmit" @keydown="form.errors.clear()">
                <md-input-container>
                    <label>Project Name</label>
                    <md-input v-model="form.name"></md-input>
                    <div class="error" v-if="form.errors.has('name')" v-text="form.errors.get('name')"></div>
                </md-input-container>

                <button class="md-primary md-raised" :disabled="form.errors.any()">Submit</button>
            </form>
        </div>

    </div>
</template>

<script>

    export default {

        data(){
            return {
                form: new Form({
                    name: ''
                })
            }
        },

        methods:{
            onSubmit() {
                this.form.post('/api/projects')
                    .then(response => {
                        this.$notify('Success!');
                        this.$router.push('/projects');
                    });
            }
        }
    }
</script>
