<template>
    <div class="page home">
        <md-toolbar>
            <h1 class="md-title">Skill Page</h1>
        </md-toolbar>
        <md-toolbar class="md-accent">
            <h1 class="md-title">sub text</h1>
        </md-toolbar>

        <div class="page-content">

            {{skill.name}}

        </div>

    </div>
</template>

<script>
    export default {

        data(){
            return {
                skill:{},
            }
        },

        mounted() {
            axios.get('/api/skills/' + this.$route.params.id)
                .then(response => this.skill = response.data);
        }
    }
</script>
