<template>
    <div class="page home">

            <form @submit.prevent="newSkillSubmit">
                <md-toolbar class="actions">
                    <div class="md-toolbar-container">
                <md-input-container >
                    <label>Add a new skill ... </label>
                    <md-input v-model="form.name"></md-input>
                </md-input-container>
                <md-button type="submit" class="md-raised md-accent">Submit</md-button>
                    </div>
                </md-toolbar>
            </form>

        <div class="page-content">

            <md-list class="custom-list">
                <md-list-item v-for="skill in skills" :key="skill.id">
                    <router-link :to="{ path: 'skills/' + skill.id } ">{{skill.name}}</router-link>
                </md-list-item>
            </md-list>

        </div>

    </div>
</template>

<script>
    import MdInput from "../../../../node_modules/vue-material/src/components/mdInputContainer/mdInput.vue";
    import MdInputContainer from "../../../../node_modules/vue-material/src/components/mdInputContainer/mdInputContainer.vue";

    export default {

        components: {
            MdInputContainer,
            MdInput},
        data(){
            return {
                skills:[],
                form: new Form({
                    name:''
                })
            }
        },

        mounted() {
            this.getSkills();
        },

        methods: {
            newSkillSubmit(){
                this.form.post('/api/skills')
                    .then(response => {
                        console.log(response.data);
                        this.getSkills();
                    });
            },
            getSkills(){
                axios.get('/api/skills').then(response => this.skills = response.data);
            }
        }

    }
</script>
