<template>
    <div class="page home">
        <md-toolbar>
            <h1 class="md-title">Users Management</h1>
        </md-toolbar>
        <div class="page-content">
            <md-list>
                <md-list-item v-for="user in users" :key="user.id">
                    <router-link :to="{ path: 'users/' + user.id } ">{{user.name}}</router-link>
                </md-list-item>
            </md-list>

        </div>
    </div>
</template>

<script>
    export default {
        data(){
            return {
                users:[],
            }
        },

        mounted() {
            axios.get('/api/users')
                .then(response => this.users = response.data);
        }
    }
</script>
