<template>
    <div class="page home">
        <md-toolbar>
            <h1 class="md-title">{{user.name}}</h1>
        </md-toolbar>
        <md-toolbar class="md-accent">
            <h1 class="md-title">{{user.title}}</h1>
        </md-toolbar>

        <div class="page-content">



        </div>

    </div>
</template>

<script>
    export default {

        data(){
            return {
                user:{},
            }
        },

        mounted() {
            this.getUser();
        },

        methods: {
            getUser(){
                axios.get('/api/users/' + this.$route.params.id)
                    .then(response => this.user = response.data);
            }
        }
    }
</script>
