html,
body {
  margin: 0;
  padding: 0;
}

body {
  overflow-y: scroll;
  background: #fafafa !important;
}

.container {
  min-height: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: column nowrap;
  flex-flow: column nowrap;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.md-sidenav-content .md-toolbar.md-large {
  background: #394950;
}

.md-sidenav-content .md-list-item a {
  font-size: 15px;
}

.md-sidenav-content .md-list-item a.is-active {
  color: #9a0000;
  margin-left: 10px;
  background: #fff;
  border-radius: 0;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  -webkit-box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
}

.md-sidenav-content .md-list-item a.is-active:hover {
  background: #fff;
}

.md-sidenav-content .md-toolbar .logo {
  height: 120px;
}

.md-sidenav-content .md-toolbar .logo img {
  max-height: 100px;
  margin: auto;
}

.main-content {
  min-height: 100%;
  max-height: 100%;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: column;
  flex-flow: column;
}

.page-wrapper {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: column;
  flex-flow: column;
  max-width: 1200px;
  margin: 16px 16px 0 16px;
  position: relative;
}

.page-content {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: column;
  flex-flow: column;
  padding: 0 0 48px;
  -webkit-transition: all 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
  transition: all 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
  -webkit-transition-delay: .2s;
  transition-delay: .2s;
}

.page .md-theme-default.md-toolbar.md-accent,
.page .md-theme-default.md-toolbar {
  background: none;
}

.page .md-theme-default.md-toolbar.actions {
  background: #3a4950;
  margin-top: 10px;
  margin-bottom: 20px;
  border-radius: 3px;
  padding: 10px 20px;
}

.page .block .md-theme-default.md-toolbar.actions {
  margin-bottom: 0;
  opacity: 1;
}

.page .block.editmode .md-theme-default.md-toolbar.actions {
  margin-bottom: 0;
  opacity: 0;
}

.page .md-theme-default.md-toolbar.actions .md-raised {
  background: #fafafa !important;
  color: #333 !important;
}

.page .md-toolbar.actions .md-input-container label {
  top: 7px;
}

.page .md-toolbar.actions .md-input-container.md-has-value label,
.page .md-toolbar.actions .md-input-container.md-input-focused label {
  top: -15px;
}

.page .md-toolbar.md-accent {
  border: none;
}

.page .md-toolbar .md-title {
  color: #555;
  font-size: 18px;
  font-weight: 400;
}

.app-title {
  margin: auto !important;
}

.md-list.custom-list {
  -webkit-box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
  background: #fff !important;
  border-radius: 3px;
}

.md-list.custom-list .md-list-item:first-child {
  border-top: 1px solid rgba(0, 0, 0, 0.05);
}

.md-list.custom-list .md-list-item {
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}

.page .block.image {
  margin-top: 30px;
}

.page .image .block-inner {
  height: 200px;
  text-align: center;
  overflow: hidden;
}

.page .image .block-inner img {
  border-radius: 30px;
  height: 100%;
  -webkit-box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.3);
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.3);
}

.page .image .name {
  text-align: center;
  font-size: 24px;
  color: #555;
}

.page .image .title {
  text-align: center;
  font-size: 16px;
  margin: 10px 0;
  color: #555;
}

.page .image .image-subtext {
  margin-top: 20px;
  text-align: center;
  color: #555;
}

.page .description textarea {
  width: 100% !important;
  min-height: 100px !important;
  max-height: 200px;
}

.page .block {
  margin-bottom: 30px;
}

.page .block md-list-item {
  padding: 0;
}

.page .block md-list-item div.layout-row div {
  margin-right: 15px;
  line-height: 30px;
}

.page .info-row {
  clear: both;
  margin-top: 25px;
}

.page .info-row .block {
  float: left;
  width: 33.333%;
  overflow: auto;
  text-align: center;
}

.page .info-row .block .block-inner {
  margin: 3% 8%;
}

.page .info-row .block .block-inner .subject {
  color: #c1244a;
  line-height: 40px;
  font-family: "Exo", "Open Sans", sans-serif;
  font-size: 20px;
}

.page .row {
  clear: both;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.page .row .block {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.page .row .block .block-inner {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.page .row .block.bordered .block-inner {
  -webkit-box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.05);
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.05);
  border: 1px solid rgba(0, 0, 0, 0.15);
  background: #fff;
  border-radius: 4px;
}

.page .row .block .header {
  padding: 10px 3px 10px 20px;
  color: #ce1f22;
  font-weight: 100;
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
  font-size: 21px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 60px;
  line-height: 40px;
}

.page .row .block .header-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.page .row .block .header .md-icon {
  color: #777;
}

.page .row .block.full {
  width: 100%;
}

.page .stats .edit {
  text-align: right;
}

.page .team .name {
  width: 250px;
}

.page .skills .name {
  width: 100px;
}

.page .skills .skill {
  margin-bottom: 10px;
}

.page .skills .member {
  border-radius: 50px;
  margin-right: 10px;
  background: #ddd;
  position: relative;
  border-radius: 50px;
  display: block;
  padding: 10px;
  overflow: hidden;
  color: #333;
  text-decoration: none;
}

.page .skills .member .md-ripple-container {
  border-radius: 50px;
}

.page .skills .md-list-item-container {
  min-height: 35px;
}

.page .skills .md-list {
  background: none;
}

.page .skills .title {
  width: 120px;
  font-size: 16px;
  margin-left: 0px;
  color: #444;
  text-align: right;
  padding-right: 20px;
}

.page .skills .experience {
  background: #ccc;
  height: 15px;
  width: 70%;
  border-radius: 30px;
}

.page .skills .experience .progress {
  width: 0px;
  height: 15px;
  border-radius: 30px;
  background: #a1a1f7;
}

.page .skills .experience .progress.high {
  background-color: #5cbd5c;
}

.page .skills .experience .progress.medium {
  background-color: #ffe354;
}

.page .skills .delete {
  width: 30px;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  font-size: 17px;
  min-width: 30px;
  opacity: 1;
  margin-left: 10px;
  color: #333;
}

.page .skills.editmode .delete {
  width: 0px;
  min-width: 0;
  opacity: 0;
  margin: 0;
}

.page .skills .experience .progress.low {
  background-color: #ff5555;
}

.page .projects .project {
  width: 100%;
  background: #fbfbfb;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  overflow: auto;
  display: block;
  position: relative;
  margin-bottom: 10px;
  color: #333;
}

.page .projects .project .title {
  font-size: 20px;
  margin-top: 6px;
}

.page .projects .project .role {
  font-size: 13px;
}

.page .projects .project .col {
  float: left;
}

.page .projects .project .col1 {
  width: 13%;
}

.page .projects .project .col2 {
  width: 22%;
}

.page .projects .project .col3 {
  width: 60%;
}

.page .projects .project .description {
  font-size: 13px;
}

.page .projects .project .image {
  margin-right: 10px;
}

.page .projects .project .image img {
  height: 50px;
}

.page .stats .item {
  border-bottom: 1px solid #ddd;
  margin: 0 0px;
  position: relative;
  overflow: auto;
  padding: 15px;
  display: block;
  color: #333;
}

.page .stats .item:last-child {
  border: none;
}

.page .stats .item .label {
  color: #666;
  font-weight: 700;
  float: left;
  width: 50%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.page .stats .item .label i {
  font-size: 20px;
  height: 10px;
  line-height: 10px;
  float: left;
  padding: 4px 15px 0 0;
}

.page .stats .item .data {
  float: left;
  text-align: right;
  width: 50%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.page .search {
  padding: 0;
}

.page .search .block-inner {
  text-align: center;
}

.page .search input {
  width: 600px;
}

.md-input-container .error {
  position: absolute;
  bottom: -20px;
  color: red;
}

@media (min-width: 1280px) {
  .page-wrapper {
    margin-top: 36px;
    margin-left: 48px;
  }

  button.menu {
    opacity: 0;
  }

  .container {
    padding-left: 250px;
  }

  .md-sidenav-content {
    background: #fafafa !important;
    width: 250px !important;
    top: 0;
    pointer-events: auto !important;
    -webkit-transform: translate3d(0, 0, 0) !important;
    transform: translate3d(0, 0, 0) !important;
    -webkit-box-shadow: 0 8px 10px -5px rgba(0, 0, 0, 0.2), 0 16px 24px 2px rgba(0, 0, 0, 0.14);
    box-shadow: 0 8px 10px -5px rgba(0, 0, 0, 0.2), 0 16px 24px 2px rgba(0, 0, 0, 0.14);
  }

  .md-sidenav-backdrop {
    background: none !important;
    pointer-events: none !important;
  }

  .md-sidenav-content .md-list {
    background: #fafafa !important;
  }
}

@media screen and (max-width: 899px) {
  .page .row {
    display: block;
  }

  .page .row .block {
    width: 100%;
  }

  .page .row .block .block-inner {
    margin: 0;
  }
}

@media screen and (min-width: 900px) {
  .page .row .block {
    width: 50%;
  }

  .page .row .block:first-child .block-inner {
    margin-right: 15px;
  }

  .page .row .block:first-child .md-theme-default.md-toolbar.actions {
    margin-right: 15px;
  }

  .page .row .block:last-child .block-inner {
    margin-left: 15px;
  }

  .page .row .block:last-child .md-theme-default.md-toolbar.actions {
    margin-left: 15px;
  }

  .page .row .block.full .block-inner {
    margin: 0;
  }
}

#guest {
  min-height: 100%;
  background: #f5f5f5;
  font-family: "roboto",sans-serif;
  font-weight: 100;
}

.slideup-enter-active,
.slideup-leave-active {
  position: absolute;
  top: 0;
  right: 0px;
  left: 0px;
}

.slideup-enter-active {
  z-index: 20;
  -webkit-transition: all 800ms cubic-bezier(0.055, 0.745, 0.145, 0.965);
  transition: all 800ms cubic-bezier(0.055, 0.745, 0.145, 0.965);
  /* custom */
}

.slideup-leave-active {
  z-index: 10;
  overflow: hidden;
  -webkit-transition: opacity 200ms ease-in-out;
  transition: opacity 200ms ease-in-out;
}

.slideup-enter {
  opacity: 0;
  -webkit-transform: translate3D(0, 200px, 0);
  transform: translate3D(0, 200px, 0);
}

.slideup-enter-to {
  opacity: 1;
  -webkit-transform: translate3D(0, 0, 0);
  transform: translate3D(0, 0, 0);
}

.slideup-leave {
  opacity: 1;
}

.slideup-leave-to {
  opacity: 0;
}

